.contenedor-cart{

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.card{
  width: 20em;
  height: 25em;
  position: relative;
  margin: 0 1em;
 
  background-size: cover;
  color: #fff;
  border-radius: 18px;
  box-shadow: #000 0px 11px 15px 0px;

}


#cont{
  background: url(../IMG/invier.jpg) center;
  width: 20em;
  height: 25em;
  position: relative;
  margin: 0 1em;
 
  background-size: cover;
  color: #fff;
  border-radius: 18px;
  box-shadow: #000 0px 11px 15px 0px;
}

#cont1{
  background: url(../IMG/prima.jpg) center;
  width: 20em;
  height: 25em;
  position: relative;
  margin: 0 1em;
 
  background-size: cover;
  color: #fff;
  border-radius: 18px;
  box-shadow: #000 0px 11px 15px 0px;
}
#cont2{
  background: url(../IMG/verano.jpg) center;
  width: 20em;
  height: 25em;
  position: relative;
  margin: 0 1em;
 
  background-size: cover;
  color: #fff;
  border-radius: 18px;
  box-shadow: #000 0px 11px 15px 0px;
}
#cont3{
  background: url(../IMG/oto.jpg) center;
  width: 20em;
  height: 25em;
  position: relative;
  margin: 0 1em;
 
  background-size: cover;
  color: #fff;
  border-radius: 18px;
  box-shadow: #000 0px 11px 15px 0px;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: space-between; /* Espaciado equitativo entre las tarjetas */
}



.card .overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.3s;
  border-radius: 18px;

}
.card:hover .overlay {opacity: 1;}

.card .btn{
  padding: 0.6em 1.3em;
  text-decoration: none;
  color: #fff;
  border: 2px #fff solid;
  letter-spacing: 1px;
  border-radius: 8px;
}

.card .btn:hover{
  background: rgba(255,255,255,0.3);
}

.card .btn, card h1{
  transition: 0.3s;
  transform: translateY(-20px);
}

.card:hover .btn, .card:hover h1{
  transform:  translateY(0);
}