*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Kaushan Script', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    background: #fff;

}
h1{
    font-size: 2.5 rem;
    font-family: 'Kaushan Script', cursive;
    color: #fff;

}
   
   /*navegador*/
   nav{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;


}

   
.menu{
    text-align: right;
    margin: auto;
    max-width: 1300px;
}
.menu >a{
    color: #fff;
    font-weight: 300 ;
    margin-right: 100px;
    text-decoration: none;
    
}

header{
    width: 100%;
    height: 100vh;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(272, 40%, 25%, 0.795),  hsla(309, 21%, 37%, 0.808)), url(../IMG/imagen2.jpg);   
    background: linear-gradient(to right,hsla(272, 40%, 25%, 0.712), hsla(309, 21%, 37%, 0.651)), url(../IMG/imagen2.jpg); 

    background-size: cover;
    background-attachment: fixed;
    position: relative;

 
}

  /*formulario*/
  .input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #ff1867;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #000;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #000;
   }
   
   .input::placeholder {
    color: #fff;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }


   /*parte2*/
   #portada{
    padding-top: 160px;
   }

   .texto1{
    float: left;
    width: 50%;
    text-align: center;
    padding: 150px 30px;
   } 
   .formulario{
    float: right;
    width: 45%;
    padding: 2px;

}

.fondo{
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(0, 0%, 92%, 0.589), hsla(0, 0%, 86%, 0.616), hsla(0, 0%, 95%, 0.658), #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(0, 0%, 92%, 0.356), hsla(0, 0%, 86%, 0.514), hsla(0, 0%, 95%, 0.63), hsla(50, 12%, 63%, 0.685)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    padding: 50px 70px ;
    border-top-left-radius: 80px;
    width:550px;
        
}
.fondo h3{
    text-align: center;

}

.titulo h3{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
}

.titulos span{
  color:  #ff1867;
}

.boton{
    text-align: center;
    padding: 60px 0;
  
  }
  
  button {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: 17px;
      padding: 1em 2.7em;
      font-weight: 500;
      background: #1F2937;
      color: white;
      border: none;
      position: relative;
      overflow: hidden;
      border-radius: 0.6em;
     }
     
     .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0.6em;
      margin-top: -0.25em;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
     }
     
     .label {
      position: relative;
      top: -1px;
     }
     
     .transition {
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 500ms;
      background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
      border-radius: 9999px;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
     }
     
     button:hover .transition {
      width: 14em;
      height: 14em;
     }
     
     button:active {
      transform: scale(0.97);
     }
   
   .navegador button{
    margin-right: 2%;
   }